.short, .long{
  height: 20em;
}

input[type="text"], textarea {
  background-color : #e8eaf6;
}

form {
  display: block;
  text-align: center;
  padding-top: 12%;
  width: 50%;
  margin: 0 auto;

}

input {
  text-align: center;
  border: none;

}

.pitch {
  padding-top: 30%;
}

img {

}

.row .col.s7 {
  width: 45%;
  padding-left: 15%;
}

.image {
}
